@model GameCreatorModel

@{
    ViewData["Title"] = "Profile";
}

<div class="row flex-align-center">

    <div class="column large-6 tab-12">

        <h3 class="h-add-bottom">Edit Profile</h3>

        <form>
            <div>
                <label for="sampleInput">Your email<span class="mandatory">*</span></label>
                <input class="h-full-width" type="email" placeholder="@Model.Email" id="sampleInput" disabled>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Username<span class="mandatory">*</span></label>
                <input class="h-full-width" type="text" id="sampleInput" value="@Model.Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123" id="sampleInput">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Repeat password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123" id="sampleInput">
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your Phone</label>
                <input class="h-full-width" type="text" value="@Model.PhoneNumber" id="sampleInput">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your Address</label>
                <input class="h-full-width" type="text" value="@Model.Address" id="sampleInput">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your City</label>
                <input class="h-full-width" type="text" value="@Model.City" id="sampleInput">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your Country</label>
                <input class="h-full-width" type="text" value="@Model.Country" id="sampleInput">
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            @if (User.IsInRole("GameCreator"))
            {
                <div id="yearOfCreating">
                    <label for="sampleInput">Year of creating</label>
                    <input asp-for="YearOfCreating" class="h-full-width" type="text" value="@Model.YearOfCreating">
                    <span asp-validation-for="YearOfCreating" class="text-danger"></span>
                </div>
                <div id="additionalInformation">
                    <label for="sampleInput">Additional Information</label>
                    <input asp-for="AdditionalInformation" class="h-full-width" type="text" value="@Model.AdditionalInformation">
                    <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
                </div>
            }

            <input class="btn--primary h-full-width" type="submit" value="Edit Profile">
        </form>

    </div>

</div>