@model GameCreatorModel

@{
    ViewData["Title"] = "Profile";
}

<div class="row flex-align-center">

    <div class="column large-6 tab-12">

        <h3 class="h-add-bottom">Edit Profile</h3>

        <form method="post" enctype="multipart/form-data">
            <input asp-for="Email" class="h-full-width" type="email" value="@Model.Email" hidden>
            <div>
                <label for="sampleInput">Username<span class="mandatory">*</span></label>
                <input asp-for="Username" class="h-full-width" type="text" value="@Model.Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Old Password<span class="mandatory">*</span></label>
                <input asp-for="OldPassword" class="h-full-width" type="password" placeholder="123asd123">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Password<span class="mandatory">*</span></label>
                <input asp-for="Password" class="h-full-width" type="password" placeholder="123asd123">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Repeat password<span class="mandatory">*</span></label>
                <input asp-for="PasswordRepeat" class="h-full-width" type="password" placeholder="123asd123">
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your Phone</label>
                <input asp-for="PhoneNumber" class="h-full-width" type="text" value="@Model.PhoneNumber">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your Address</label>
                <input asp-for="Address" class="h-full-width" type="text" value="@Model.Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your City</label>
                <input asp-for="City" class="h-full-width" type="text" value="@Model.City">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div>
                <label for="sampleInput">Your Country</label>
                <input asp-for="Country" class="h-full-width" type="text" value="@Model.Country">
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            @if (User.IsInRole("GameCreator"))
            {
                <div id="yearOfCreating">
                    <label for="sampleInput">Year of creating</label>
                    <input asp-for="YearOfCreating" class="h-full-width" type="text" value="@Model.YearOfCreating">
                    <span asp-validation-for="YearOfCreating" class="text-danger"></span>
                </div>
                <div id="additionalInformation">
                    <label for="sampleInput">Additional Information</label>
                    <input asp-for="AdditionalInformation" class="h-full-width" type="text" value="@Model.AdditionalInformation">
                    <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
                </div>
            }

            <input asp-controller="Account" asp-action="Profile" class="btn--primary h-full-width" type="submit" value="Submit">
        </form>

    </div>

</div>

